<h1> About Me </h1>
<p> JaP is kewl. </p>

<h2> tl;dr </h2>
<p> I post things that I create here. (But only the good ones.) </p>

<p>
    I'm <span
        title="May be incorrect if the system time is incorrect"
        style="cursor: help;">${{var e=new Date,t=e.getFullYear(),n=e.getMonth(),a=e.getDate(),r=t-2003-1;return(n>10||10==n&&a>=28)&&r++,r}}*</span>
    years old (I'm in high school) and I like to create things. I've been creating things since July 2016.
</p>
<p>
    I use this site so that I can show off to other people. Including showing off the site. Since I'm showing off the
    site, I only include the projects that will make it seem like I'm good at what I do, and hide away all of the
    terrible and unfinished stuff.",
</p>

<h2> Social </h2>

<p>
    Now, I'm anti-social so, most of the accounts are going to be private, (that means don't contact me) but I'll list
    them anyway.
</p>

<div> Twitter - <a href="https://twitter.com/JaPNaA_">@JaPNaA_</a> </div>
<div> Instagram - <a href="https://www.instagram.com/japnaa_/">@japnaa_</a> </div>
<div> Snapchat - <a href="https://www.snapchat.com/add/jap.naa">jap.naa</a> </div>
<div> Reddit - <a href="https://www.reddit.com/user/JaPNaA/">u/JaPNaA</a> </div>
<div> YouTube - <a href="https://www.youtube.com/channel/UC4tfahjNNwEPrSrC3m6QeBQ/"> JustAChannel </a> </div>


<h2> About this site </h2>
<p> The second revision of the this site took 3 months to be put in production. </p>
<p>
    And the third revision, the one you're looking at right now, I started working on this revision on March 3rd 2019,
    and put in production on September 3, 2019. That's 184 days! Or 6 months! Or half a year!
</p>