# nothing important in there 
.vscode/

# these files are automatically built
# START-REMOVABLE-FILES
/public/bundles/
/public/assets/content/index.json
/public/assets/content/v2/
/src/elm/views/viewList.ts
/src/elm/widgets/widgetList.ts
/scripts/build

# the obvious ones
/build/
npm-debug.log
# END-REMOVABLE-FILES
/others/
/node_modules/