# nothing important in there 
.vscode

# these files are automatically built
/docs/*bundle.js
/docs/test-bundle.js
/docs/assets/content/index.json

# the obvious ones
npm-debug.log
/others
/node_modules
/build