@keyframes blink{
    0%,50%,100%{
        opacity: 0;
    }
    55%,95%{
        opacity: 1;
    }
}
@keyframes rainbowText {
    0%, 100%{
        color: #800000;
    }
    12.5%{
        color: #855000;
    }
    25%{
        color: #828200;
    }
    37.5%{
        color: #008f00;
    }
    50%{
        color: #008b7a;
    }
    62.5%{
        color: #000e8e;
    }
    75%{
        color: #45008a;
    }
    87.5%{
        color: #6e0080;
    }
}
@keyframes unblur {
    0%{
        transform: scale(0.6);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
html {
    touch-action: manipulation;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}
#head{
    position: fixed;
    top:0;
    width: 100%;
    left: 0;
    height: 64px;
    background: #80ffc3;
    box-shadow: 0 0 8px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.24);
    will-change: top;
    transition: 0.3s;
    z-index: 10;
}
#head, ev.prompta #head, ev.prompta #content, ev.prompta #foot, div.prompta{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#foot{
    bottom: 0;
    left: 0;
    background: #161616;
    padding: 8px;
    color: #eee;
    margin: 0;
    font-family: arial;
    font-size: 12px;
}
#content{
    position: relative;
    display: inline-block;
    margin-top: 48px;
    padding: 16px;
    min-height: 100vh;
    font-size: 16px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    max-width: 1280px;
    margin-bottom: 64px;
}
#contentC{
    text-align: center;
    width: 100vw;
}
body{
    cursor: default;
    background: #fff7fb;
}
.footlink{
    color: #eee;
    text-decoration: none;
    transition: 0.15s;
    margin-left: 0px;
    font-size: 14px;
}
.footlink:hover{
    color: #fff;
    margin-left: 8px;
}
#copyright{
    color: lightgrey;
    font-family: arial;
    font-size: 11px;
    text-align: right;
}
.JaPNaAT{
    font-family: 'Share Tech Mono', courier, monospace;
    font-size: 42px;
    line-height: 64px;
    padding-left: 16px;
    display: inline-block;
    outline: none;
    cursor: pointer;
}
.JaPNaAT::after{
    content: "_";
    animation: blink 1.4s linear infinite;
}
a{
    color: #0012ff;
}
img{
    width: 100%;
}
.JaPNaATL{
    color: inherit;
    text-decoration: inherit;
}
#content.loading{
    animation: rainbowText 3.5s infinite linear;
}
div.prompta{
    position: fixed;
    background: white;
    padding: 16px 18px 16px 18px;
    border: 1.5px solid #00ffab;
    border-radius: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    animation: unblur 0.2s 1 cubic-bezier(0.64, 0.32, 0.55, 1.35);
    transition: 0.2s cubic-bezier(0.64, 0.32, 0.55, 1.35);
    transform: scale(1);
    opacity: 1;
    z-index: 99;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.prompta[dragging]{
    transition: 0s;
}
ev.prompta #head, ev.prompta #content, ev.prompta #foot{
    transition: 0.2s;
    filter: blur(2px);
}
.promptaLO{
    position: fixed;
    background: transparent;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 6;
}
.item{
    position: relative;
    display: block;
    text-align: left;
    max-width: 564px;
    min-width: 180px;
    padding: 16px 24px;
    margin: 24px 1vw;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 0.2s;
    background: white;
    cursor: pointer;
    overflow-x: hidden;
}
.item:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 2;
    transform: scale(1.0075);
}
.displayOpen{
    opacity: 0;
}
.card{
}
.text{
    border-radius: 2px;
}
.card>.cardTag{
    position: absolute;
    top: 16px;
    left: -16px;
    text-align: right;
    width: 100%;
    opacity: 0.3;
    transition: 0.15s;
}
.card>.cardTag::after{
    content: "]";
}
.card>.cardTag::before{
    content: "[";
}
.card:hover .cardTag, .item:hover>.author, .item:hover>.timestamp{
    opacity: 0.5;
}
.card>.desc{
    opacity: 0.9;
    margin-top: 4px;
}
.item>.title{
    font-size: 18px;
    display: block;
}
.item>.timestamp{
    opacity: 0.3;
    position: absolute;
    width: 100%;
    text-align: right;
    left: -16px;
    font-size: 11px;
}
.item>.author{
    opacity: 0.3;
    font-size: 11px;
}
