body {
    background-color: #fffafd;
}

img {
    width: 100%;
}

.middleCenter {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hide {
    visibility: hidden;
}

.nonexistant {
    display: none;
}

#splashScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 112%;
    background-color: #DDDDDD;
    z-index: 10;
    opacity: 1;
    transition: 0.35s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

#splashScreen.remove {
    opacity: 0;
    transform: translateY(-12%);
    will-change: opacity, transform;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 224px;
    background-color: #131313;
    background-image: linear-gradient(339deg, #131313, #191919);
    color: #f5f5f5;
    font-family: 'Share Tech Mono';
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 3px 0px 8px rgba(0, 0, 0, 0.24);
    z-index: 5;
    overflow: hidden;
}

#menu.collapse {
    transform: translateX(calc(64px - 224px));
}

#menu>div {
    font-size: 28px;
    padding: 8px;
    text-align: center;
    background-color: transparent;
    will-change: background-color;
    transition: 0.15s;
    cursor: pointer;
}

#menu.collapse>div {
    text-align: right;
}

#menu hr {
    border-color: #adadad;
    border-width: 1px;
    border-top-width: 0.5px;
    border-bottom-width: 0.5px;
    border-left-width: 0;
    border-right-width: 0;
    width: 30%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

#menu .searchButton {
    display: flex;
    transform: translateX(25%);
}

#menu .searchButton .text {
    margin-right: 16px;
}

#menu .searchButton .img {
    line-height: 0px;
    transform: translateY(3%);
    opacity: 0.85;
}

#menu .searchButton img {
    height: 1em;
    width: auto;
}

#menu>div:hover {
    background-color: #ffffff14;
}

#head {
    position: fixed;
    top: 0;
    left: 224px;
    width: calc(100% - 224px);
    height: 64px;
    background-color: #80ffc4;
    background-image: linear-gradient(45deg, #80ffc4, #2effa8);
    z-index: 4;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.24);
}

#titleText {
    font-family: "Share Tech Mono", courier, monospace;
    font-size: 42px;
    line-height: 64px;
    padding-left: 16px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#titleText::after {
    content: "_";
    animation: blink 0.7s linear 0s infinite alternate;
}

#body {
    position: fixed;
    top: 64px;
    left: 224px;
    width: calc(100% - 224px);
    height: calc(100% - 64px);
    padding: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    z-index: 3;
}

#body::-webkit-scrollbar {
    background-color: #ebe4e7;
    width: 12px;
}

#body::-webkit-scrollbar-thumb {
    background-color: #ccc5c9;
    border-radius: 2px;
    box-shadow: 0 0.5px 1.5px rgba(0, 0, 0, 0.08), 0 0.5px 1.5px rgba(0, 0, 0, 0.16);
}

#body::-webkit-scrollbar-track {
    background-color: #ebe4e7;
}

#bodyP,
#headP {
    position: relative;
}

#bodyP {
    z-index: 1;
}

#headP {
    z-index: 2;
}

.bodyFrag {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.itemP {
    display: inline-block;
    width: 100%;
    padding: 0 16px 0 0;
    margin: 8px;
    border: 0;
    box-sizing: border-box;
}

.item {
    border-radius: 4px;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.15s ease-in;
    overflow: hidden;
    word-wrap: break-word;
    cursor: default;
    z-index: -1;
}

.item.error {
    background-color: #f10606;
    color: #ffffff;
}

.item.error .body {
    font-family: 'Open Sans', sans-serif;
    color: #f5f5f5;
}

.item.error .title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin-bottom: 4px;
    color: #ffffff;
}

.item .title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin-bottom: 4px;
    color: #000000;
}

.item .body {
    font-family: 'Open Sans', sans-serif;
    color: #212121;
}

#body.itemPop .item:hover,
.item.pop {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1.0075);
    z-index: 0;
    will-change: transform;
}