body {
    background-color: #fffafd;
}

img {
    width: 100%;
    margin-top: 8px;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hide {
    visibility: hidden;
}

.nonexistant {
    display: none;
}

#splashScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffafd;
    z-index: 11;
    opacity: 1;
    transition: 0.35s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

#splashScreen.remove {
    opacity: 0;
    transform: rotateX(90deg);
    will-change: opacity, transform;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 224px;
    background-color: #131313;
    background-image: linear-gradient(339deg, #131313, #191919);
    color: #f5f5f5;
    font-family: 'Share Tech Mono';
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 3px 0px 8px rgba(0, 0, 0, 0.24);
    z-index: 7;
    overflow: hidden;
}

#menu.collapse {
    transform: translateX(calc(48px - 224px));
}

#main.searching #menu > :not(.searchItem) {
    opacity: 0;
}

#menu .searchItem {
    z-index: 8;
    will-change: transform;
    transition: none;
}

#main:not(.searching) #menu > div:not(.searchItem) {
    cursor: pointer;
}

#menu > div {
    font-size: 28px;
    padding: 8px;
    text-align: center;
    background-color: transparent;
    will-change: background-color;
    transition: 0.15s;
}

#menu.collapse > div {
    text-align: right;
}

#menu hr {
    border-color: #adadad;
    border-width: 1px;
    border-top-width: 0.5px;
    border-bottom-width: 0.5px;
    border-left-width: 0;
    border-right-width: 0;
    width: 30%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

#menu .searchButton {
    display: flex;
    transform: translateX(29.6%);
}

#menu .searchItem {
    cursor: pointer;
}

#menu .searchButton .text {
    margin-right: 24px;
}

#menu .searchButton .img {
    line-height: 0px;
    transform: translateY(3%);
    opacity: 0.85;
}

#menu .searchButton img {
    height: 1em;
    margin: 0;
    padding: 0;
    width: auto;
}

#menu > div:hover {
    background-color: #ffffff14;
}

#head {
    position: fixed;
    top: 0;
    left: 224px;
    width: calc(100% - 224px);
    height: 64px;
    background-color: #80ffc4;
    background-image: linear-gradient(45deg, #80ffc4, #2effa8);
    z-index: 6;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.24);
    transition: none;
}

#main.searching #head {
    background-color: #90d6ff;
    background-image: linear-gradient(45deg, #90d6ff, #6bc9ff);
}

#head #searchInput {
    position: absolute;
    top: -1px;
    background-color: transparent;
    border: 0;
    outline: none;
    width: calc(100% - 32px); /* maximize - (padding left + margin right)*/

    /* transitions before hide */
    opacity: 0;
    transform: rotate3d(1, 0, 0, 90deg);
}

#head #titleText {
    /* transitions before show */
    opacity: 1;
    transform: rotate3d(1, 0, 0, 0deg);
    position: absolute;
    color: #000000;
    text-decoration: none;
}

#main.searching #head #titleText {
    /* transitions after hide */
    opacity: 0;
    transform: rotate3d(1, 0, 0, 90deg);
}
#main.searching #head #searchInput {
    /* transitions after show */
    opacity: 1;
    transform: rotate3d(1, 0, 0, 0deg);
}

#head #titleText, #head #searchInput {
    font-family: "Share Tech Mono", courier, monospace;
    font-size: 42px;
    line-height: 64px;
    padding-left: 16px;
    
    will-change: opacity, transform;
    transition: 0.15s ease-in-out;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#main:not(.searching) #head #titleText::after {
    content: "_";
    animation: blink 0.7s linear 0s infinite alternate;
}

#main.searching #searchOverlay {
    /* after searching */
    opacity: 1;
    z-index: 5;
}

#searchOverlay {
    z-index: 3;
    background-color: #e8f6ff;
    display: block;

    transition: 0.15s ease-out;

    /* before searching */
    opacity: 0;
}

#body, #searchOverlay {
    position: fixed;
    top: 64px;
    left: 224px;
    width: calc(100% - 224px);
    height: calc(100% - 64px);
    padding: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

#body {
    z-index: 5;
}

#main.searching #body {
    z-index: 4;
}

#body::-webkit-scrollbar, #searchOverlay::-webkit-scrollbar {
    background-color: #ebe4e7;
    width: 0px !important;
}

#bodyP,
#headP {
    position: relative;
}

#bodyP {
    z-index: 2;
}

#headP {
    z-index: 4;
}

.bodyFrag {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
}

.itemP {
    display: inline-block;
    width: 100%;
    padding: 0 16px 0 0;
    margin: 8px;
    border: 0;
    box-sizing: border-box;
    max-width: 834px;
    text-align: left;
    text-decoration: none;
}

.item {
    display: block;
    color: #000000;
    border-radius: 4px;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    word-wrap: break-word;
    cursor: default;
    transition: 0.15s ease-in;
    z-index: 0;
    position: relative;
}

.item > div > div:not(.display) {
    opacity: 0.92;
    will-change: opacity;
    transition: 0.15s ease-in;
}

.item:hover > div > div {
    opacity: 1;
}

.item.card {
    cursor: pointer;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
}

.item.error {
    background-color: #f10606;
    color: #ffffff;
}

.item.error .body {
    font-family: 'Open Sans', sans-serif;
    color: #f5f5f5;
}

.item.error .title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin-bottom: 4px;
    color: #ffffff;
}

.item .title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin-bottom: 4px;
    color: inherit;
}

.item.card .title::after {
    content: ' #' attr(no);
    opacity: 0.3;
    transition: 0.15s ease-in;
    will-change: opacity;
}
.item.card:hover .title::after {
    opacity: 0.5;
}

.item.card .meta {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    will-change: opacity;
    font-family: 'Roboto';
    font-size: 0.66em;
}

.item.card:hover .meta {
    opacity: 0.6;
}

.item.card .meta > * {
    position: absolute;
}

.item.card .meta .tags {
    top: 16px;
    right: 16px;
    font-size: 1rem;
}

.item.card .meta .tags::before {
    content: '[';
}
.item.card .meta .tags::after {
    content: ']';
}

.item.card .meta .author {
    bottom: 8px;
    left: 8px;
}

.item.card .meta .timestamp {
    bottom: 8px;
    right: 8px;
}

.item .body {
    font-family: 'Open Sans', sans-serif;
    color: inherit;
    opacity: 0.92;
}

#bodyP.itemPop .item:hover,
.item.pop {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1.0075);
    z-index: 1;
    will-change: transform;
}