.main .Menu {
    @background-opacity: 0.3;
    position: absolute;
    // TODO: Change state of GlobalWidget to close button instead of covering it
    z-index: 4; // above global widget
    background-color: transparent;

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .contents {
        position: absolute;
        top: 0;
        right: 0;

        height: 100%;
        width: 33vw;
        box-sizing: border-box;

        background-color: #000000;
        color: #d4d4d4;
        overflow-y: auto;
    }

    .scrollContainer {
        position: relative;
        padding-left: 0;
        padding-right: 0;
        padding-top: 16px;
        padding-bottom: 64px;

        min-height: 100%;
        height: auto;

        box-sizing: border-box;
    }

    // --- Items in menu

    .title,
    .heading {
        margin-top: 8px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .title {
        font-size: 2em;
        color: #ececec;
        margin-bottom: 16px;
    }

    .heading {
        color: #ececec;
        margin-bottom: 8px;
    }

    .copy {
        position: absolute;
        bottom: 16px;
        left: 16px;
        // margin: 16px;
        color: #5c5c5c;
    }

    .viewButton {
        display: flex;
        align-items: center;

        width: 100%;
        background-color: rgba(255, 255, 255, 0);
        color: #fff;
        border: none;
        padding: 8px 16px;

        text-align: left;
        cursor: pointer;
        box-sizing: border-box;
        transition: 0.5s;

        &:hover {
            transition: none;
            background-color: rgba(255, 255, 255, 0.3);
        }

        .label {
            display: inline-block;
        }

        .circle {
            margin-right: 6px;

            border-radius: 50%;
            width: 8px;
            height: 8px;
            background-color: white;
        }
    }

    // --- Transitions

    &.beforeTransitionIn {
        overflow: hidden;

        .background {
            opacity: 0;
            will-change: opacity;
        }

        .contents {
            transform: translateX(100%);
            will-change: transform;
        }
    }

    &.afterTransitionIn {
        .background {
            transition: 0.4s ease opacity;
            opacity: 1;
        }

        .contents {
            transition: 0.6s cubic-bezier(0.22, 0.61, 0.36, 1) transform;
            transform: translateX(0);
        }
    }

    &.destory {
        overflow: hidden;
        pointer-events: none;

        .background {
            transition: 0.15s ease opacity;
            opacity: 0;
            will-change: opacity;
        }

        .contents {
            transition: 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) transform;
            transform: translateX(100%);
            will-change: transform;
        }
    }
}
