.main .Overview {
    padding: 0;
    overflow-x: hidden;

    .contentContainer {
        text-align: center;

        .content {
            display: inline-block;
            text-align: left;

            padding-left: 8px;
            padding-right: 8px;
            padding-top: 8px;
            padding-bottom: 33vh;

            max-width: 760px;
            width: 100%;

            box-sizing: border-box;
        }
    }

    .widget.stickyBar {
        .text {
            img.hexagon {
                will-change: transform;
                transform: scale(1.6);
                margin-right: 18px;
                animation: rotateAnimation 12s ease 0s infinite normal forwards;
            }

            @keyframes rotateAnimation {
                0% {
                    transform: scale(1.6) rotate(0deg);
                }
                50% {
                    transform: scale(1.6) rotate(20deg);
                }
                100% {
                    transform: scale(1.6) rotate(0deg);
                }
            }
        }
    }
}
