:root {
    --background-color: #000;

    --main-color: #d4d4d4;
    --input-color: #56a5ff;
    --err-color: #ff4848;
    --wrn-color: #e2e24b;
    --suc-color: #37df3f;
    
    --font-size: 14px;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-size: var(--font-size);
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    word-break: break-all;
    overflow-y: scroll;
}

#output, #input{
    background-color: inherit;
    font-display: inherit;
    font-size: var(--font-size);
}

#output {
    white-space: pre-wrap;
}

#output .inp {
    color: var(--input-color);
}
#output .err {
    color: var(--err-color)
}
#output .wrn {
    color: var(--wrn-color);
}
#output .suc {
    color: var(--suc-color);
}
#output .empty {
    height: 1em;
}

#input {
    color: var(--input-color);
    border: 0;
    resize: none;
    width: 100%;
    height: 0;
    outline: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}