@import "../../../../styles/variables.less";

.settings {
    display: block;
}

.settingsEditor {
    user-select: none;
    -webkit-user-select: none;
}

.section {
    display: block;
}

.heading {
    margin: 0;
    color: $$color-white-bright;
}

.heading[depth="1"] {
    font-size: 1.7em;
}

.heading[depth="2"] {
    font-size: 1.4em;
}

.configItem {
    margin: 8px 0px;
}

.checkbox {
    display: block;
}

.invalid {
    color: red;
}
