@theme-color-0: #00ff80;
@theme-color: #00ff9e;
@theme-color-1: #00ffbb;
@header-gradient: linear-gradient(169deg, @theme-color-0, @theme-color-1);

body {
    font-family: "Roboto";
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.view {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100%;
    height: 100%;

    padding: 8px;
    box-sizing: border-box;

    background: #ffffff;
    z-index: 0;

    -webkit-overflow-scrolling: touch;
}

@import "./widgets/hexagonsTitle.less";
@import "./widgets/cardV1.less";
@import "./widgets/stickyBar.less";
@import "./widgets/global/global.less";
@import "./widgets/iframe.less";

@import "./views/404.less";
@import "./views/overview.less";
@import "./views/projectInfo.less";
@import "./views/splashScreen.less";
@import "./views/menu.less";
@import "./views/frameView.less";
@import "./views/allThingies.less";
@import "./views/imageView.less";

@import "./embededApp.less";
