body {
    font-family: 'Roboto';
}

.main .scene {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100%;
    height: auto;

    padding: 8px;
    box-sizing: border-box;

    background: #ffffff;
}