@theme-color-0: #00ff80;
@theme-color: #00ff9e;
@theme-color-1: #00ffbb;

@theme-color-blue: #006ded;
@theme-color-cyan: #26ebff;
@theme-color-green: #1cff3a;
@theme-color-lime: #b4ff7a;
@accent-color-dark-red: #c22000;
@accent-color-red: #ff2a00;
@accent-color-light-red: #ffc6ba;

@header-gradient: linear-gradient(169deg, @theme-color-0, @theme-color-1);
